/* Color Palette ----------------------------------- */
.color {
  width: 40px;
  height: 40px;
  display: inline-block;
  border: 1px solid black;
}

.color.black {
  background-color: black;
}

.color.green {
  background-color: green;
}

.color.blue {
  background-color: blue;
}

.color.yellow {
  background-color: yellow;
}

/* Pixel Board ------------------------------------- */
#pixel-board {
  display: grid;
  grid-template-columns: repeat(5, 40px);
}

.pixel {
  width: 40px;
  height: 40px;
  background-color: white;
  border: 1px solid black;
}
